{% extends 'mainapp/base.html' %}
{% block body_block %}
<div class="container mx-auto py-8">
        <div class="text-center">
            <h1 class="text-4xl font-bold mb-4">About UniHomeComfort</h1>
            <p class="text-lg mb-6">UniHomeComfort is dedicated to providing international immigrants with a hassle-free solution for finding suitable accommodation near universities and colleges.</p>
            <p class="text-lg mb-6">We understand the challenges faced by international students when it comes to finding affordable and convenient housing options. That's why we offer a platform where students can easily search for properties available for rent in close proximity to educational institutions.</p>
            <p class="text-lg mb-6">Our unique bidding system allows multiple students interested in the same property to place bids. The highest bidder secures the lease, ensuring a fair and transparent process for all parties involved.</p>
            <h2 class="text-3xl font-bold mb-6">Our Mission</h2>
            <p class="text-lg mb-6">At UniHomeComfort, our mission is to simplify the accommodation search process for international students, providing them with comfortable living spaces that cater to their academic needs.</p>
            <h2 class="text-3xl font-bold mb-6">Why Choose UniHomeComfort?</h2>
            <ul class="text-lg mb-8 list-disc list-inside">
                <li class="mb-4"><span class="font-semibold">Extensive property listings:</span> We offer a wide range of properties near universities and colleges.</li>
                <li class="mb-4"><span class="font-semibold">Transparent bidding system:</span> Our bidding system ensures fairness and transparency in lease allocation.</li>
                <li class="mb-4"><span class="font-semibold">Dedicated support team:</span> Our support team is always available to assist with any inquiries or concerns.</li>
                <li class="mb-4"><span class="font-semibold">User-friendly interface:</span> Our website provides a seamless experience for property search and bidding.</li>
            </ul>
            <h2 class="text-3xl font-bold mb-6">Contact Us</h2>
            <p class="text-lg mb-4">Have questions or need assistance? Feel free to reach out to our team.</p>
            <p class="text-lg mb-4">Email: contact@unihomecomfort.com</p>
            <p class="text-lg mb-4">Phone: +1 (123) 456-7890</p>
        </div>
    </div>
{% endblock %}