{% extends 'mainapp/base.html' %}
{% block body_block %}
<div class="container mx-auto py-8">
    <div class="max-w-full mx-auto bg-white rounded-lg shadow-md overflow-hidden">
        <div class="px-6 py-8">
            <h1 class="text-4xl font-bold text-gray-800 mb-6 text-center">About UniHomeComfort</h1>
            <p class="text-lg text-gray-700 mb-6">UniHomeComfort is dedicated to providing international immigrants with a hassle-free solution for finding suitable accommodation near universities and colleges.</p>
            <p class="text-lg text-gray-700 mb-6">We understand the challenges faced by international students when it comes to finding affordable and convenient housing options. That's why we offer a platform where students can easily search for properties available for rent in close proximity to educational institutions.</p>
            <p class="text-lg text-gray-700 mb-6">Our unique bidding system allows multiple students interested in the same property to place bids. The highest bidder secures the lease, ensuring a fair and transparent process for all parties involved.</p>
            <h2 class="text-3xl font-bold text-gray-800 mb-6">Our Mission</h2>
            <p class="text-lg text-gray-700 mb-6">At UniHomeComfort, our mission is to simplify the accommodation search process for international students, providing them with comfortable living spaces that cater to their academic needs.</p>
            <h2 class="text-3xl font-bold text-gray-800 mb-6">Why Choose UniHomeComfort?</h2>
            <ul class="text-lg text-gray-700 mb-8 list-disc list-inside">
                <li class="mb-4"><span class="font-semibold text-blue-500">Extensive property listings:</span> We offer a wide range of properties near universities and colleges.</li>
                <li class="mb-4"><span class="font-semibold text-blue-500">Transparent bidding system:</span> Our bidding system ensures fairness and transparency in lease allocation.</li>
                <li class="mb-4"><span class="font-semibold text-blue-500">Dedicated support team:</span> Our support team is always available to assist with any inquiries or concerns.</li>
                <li class="mb-4"><span class="font-semibold text-blue-500">User-friendly interface:</span> Our website provides a seamless experience for property search and bidding.</li>
            </ul>
            <div class="container mx-auto px-4 py-8">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                    <!-- Testimonial Tiles -->
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <p class="text-gray-700">"The Django admin interface was a game-changer for managing content and user data. It provided an intuitive and customizable dashboard that simplified content management tasks and improved our operational efficiency."</p>
                        <span class="block text-right italic text-gray-600">- Kashish R.</span>
                    </div>
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <p class="text-gray-700">"Overall, using Django for developing UniHomeComfort was a rewarding experience. Its versatility, reliability, and comprehensive feature set empowered us to deliver a high-quality and user-friendly platform to our clients."</p>
                        <span class="block text-right italic text-gray-600">- Jainam P.</span>
                    </div>
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <p>"Django's extensive documentation and active community support were invaluable resources. Whenever we faced challenges or had questions, there was always a helpful solution or discussion available."</p>
                        <span class="block text-right italic text-gray-600">- Tanvi T.</span>
                    </div>
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <p>"We loved using Django's admin panel to update content and track user activity. It's simple and user-friendly."</p>
                        <span class="block text-right italic text-gray-600">- Parth P.</span>
                    </div>
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <p>"Django made it easy for us to build and manage our website. It has lots of helpful tools and guides, which saved us time and effort."</p>
                        <span class="block text-right italic text-gray-600">- Hetansh J.</span>
                    </div>
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <p>"Django's security features gave us peace of mind knowing our website is safe. It's reliable and trustworthy."</p>
                        <span class="block text-right italic text-gray-600">- Haseeb M.</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}