{% extends 'mainapp/base.html' %}
{% load static %}
{% block body_block %}
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Your bid</h1>
        {% if property.prop_image1 %}
            <div class="slide" style="background-image: url('{{ property.prop_image1.url }}');"></div>
        {% endif %}
        {% if property_data %}
            <img src="{{ property_data.prop_image1.url }}" class="w-15 h-15 ml-4" alt="Property Image">
            <hr class="my-4">
            <form method="post" class="bg-white p-4 rounded shadow-md">
                {% csrf_token %}
                <div class="mb-4">
                    <h3 class="block text-lg font-medium text-gray-700">{{ property_data.title }}</h3>
                    <h3 class="block text-sm font-medium text-gray-700">{{ property_data.address }}</h3>
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Minimum bid</label>
                    <span class="block text-lg font-semibold text-gray-900">$ {{ property_data.bidding_min_limit }}</span>
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Maximum bid</label>
                    <span class="block text-lg font-semibold text-gray-900">{{ max_bidding_amount }}
                    	 </span>
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">Enter your bid</label>
                    <input type="number" name="bidding_amount" class="block text-lg font-semibold text-gray-900" placeholder="Bid here"
                           value="{{ max_bidding_amount }}" min="{{ max_bidding_amount }}">
                    {#                <span class="block text-lg font-semibold text-gray-900">${{ form.current_bid.value }}</span>#}
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <button type="submit" class="bg-black text-white py-2 px-4 rounded cursor-pointer">Submit bid</button>
            </form>
        {% endif %}
    </div>

{% endblock %}
