{% extends 'mainapp/base.html' %}
{% block body_block %}

<div class="h-screen flex">
  <div class="flex w-1/2 i justify-around items-center" style="background-color: #111827">
    <div>
      <h1 class="text-white font-bold text-4xl font-sans">UniHomeComfort</h1>
      <p class="text-white mt-1">The most popular home finding website for international students.</p>
      <button type="submit"
              class="block w-32 bg-white text-indigo-800 mt-4 py-2 rounded-xl font-bold mb-2">
          Read More</button>
    </div>
  </div>
  <div class="flex flex-col h-full w-1/2 justify-center items-center bg-white mt-5 ">
      {% if form %}
    <form class="bg-white flex flex-col justify-center  flex-1 w-1/2" action="" method="post">
    {% csrf_token %}
      <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello Again!</h1>
        <div class="flex flex-col  mt-4 mb-4">
            <label for="username">{{ form.username.label_tag }}</label>
            {{ form.username }}
        </div>
        <div class="flex flex-col ">
            <label for="password">{{ form.password.label_tag }}</label>
            {{ form.password }}
        </div>

         {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      <button type="submit" class="block w-full mt-4 py-2 rounded-2xl text-white font-semibold mb-2 bg-gray-600 hover:bg-gray-800" >Login</button>
        <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer hover:underline" style="color: #111827">Forgot Password ?</span>
    </form>
    {% endif %}
  <div class="flex flex-col items-center gap-4 mb-24">
       <span class="text-sm ml-2 ">Don't have an account?</span>
      <div class="flex items-center gap-4">
          <a href="{% url 'register-student-user' %}" class="py-3 px-2 rounded-2xl text-white font-semibold mb-2 bg-gray-600 hover:bg-gray-800">Signup as Student</a>
          <a href="{% url 'register' %}" class="py-3 px-2 rounded-2xl text-white font-semibold mb-2 bg-gray-600 hover:bg-gray-800">Signup as Owner</a>
      </div>
  </div>
  </div>
</div>

{% endblock %}